.body {
	background-image: url(../img/bcg.jpg);
	font-family: "Ubuntu", sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 58px;
	padding: 18px 79px;
	margin-bottom: 54px;
}

.link {
	text-decoration: none;
	color: white;
}

.icon {
	padding-right: 25px;
}

.title {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	font-size: 22px;
}

.title:hover {
	color: #01813f;
}
.link:hover {
	color: #01813f;
}

.icon svg:hover path {
	fill: #01813f;
}

.containet-link {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: 18px 0;
}

.right-menu {
	display: flex;
	align-items: center;
}

.welcome {
	margin: 18px 147px 18px 27px;
}

.Signup {
	font-weight: 400;
}

.Signup::before {
	content: "";
	padding-right: 27px;
	border-left: solid 1px rgba(255, 255, 255, 0.5);
	height: 19px;
}

.log-in:hover {
	color: #01813f;
	text-decoration: underline;
}

.main-container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main {
	position: relative;
	display: flex;
	justify-content: space-around;
	width: 444px;
	background-color: white;
	padding: 31px 0 38px 0;
}

.login-box {
	display: flex;
	justify-content: space-between;
}

.login-box::before {
	content: "";
	position: absolute;
	left: 0px;
	width: 18px;
	height: 18px;
	background-color: #3cb878;
}

.sing-up {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 15px;
}

.log-in {
	color: #3cb878;
	text-decoration: none;
}

.container {
	width: 324px;
}

.btn-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 31px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 160px;
	height: 48px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.facebook {
	background-color: #305db8;
}

.facebook:hover {
	background-color: #022263;
}

.google {
	background-color: #df4a32;
}

.google:hover {
	background-color: #ab1f09;
}

.fab {
	font-size: 25px;
}

.fa-facebook-f {
	padding-right: 18.77px;
	border-right: solid 1px hsla(220, 68%, 11%, 0.1);
}

.fa-google-plus-g {
	padding-right: 7px;
	border-right: solid 1px hsla(220, 68%, 11%, 0.1);
}

.line {
	display: block;
	font-size: 14px;
	color: #848484;
	text-align: center;
	margin-bottom: 11px;
}

.line::before,
.line::after {
	position: relative;
	content: "";
	display: inline-block;
	width: 47%;
	height: 1px;
	vertical-align: middle;
	background: #f2f2f2;
}

.input {
	width: 324px;
	height: 43px;
	margin-bottom: 15px;
	font-size: 14px;
	padding: 0px 15px 0px 15px;
	border: solid 1px #f2f2f2;
	outline: none;
}

.input:hover {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
	display: none;
}

.checkbox-green {
	width: 20px;
	height: 20px;
	border: 1px solid #f2f2f2;
	display: inline-block;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
	top: 5px;
}

[type="checkbox"]:checked + .checkbox-green:before {
	content: "\f00c";
	position: absolute;
	font-size: 18px;
	color: green;
	font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands";
	font-weight: 700;
}

.agree {
	font-size: 14px;
}

.checkbox-link:hover {
	text-decoration: underline;
	color: #01813f;
}

.checkbox-text {
	margin-left: 8px;
	cursor: pointer;
}

.checkbox-link {
	text-decoration: none;
	color: #3cb878;
}

.btn-submit {
	margin-top: 20px;
	background-color: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	width: 324px;
	height: 46px;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: #3cb878;
}
